{% extends 'base.html.twig' %}
{# Vue pour le changement d'informations d'un utilisateur #}
{% block title %}Ajouter une recette{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1> Form modif profil</h1>
    {% form_theme form_pseudo 'bootstrap_5_layout.html.twig' %}
    {{ form_start(form_pseudo) }}
    {{ form_row(form_pseudo.pseudo)}}
    {{ form_row(form_pseudo.photo)}}

    <button type="submit" class="btn FormSuv">Ajouter</button>
    {{ form_end(form_pseudo) }}
</div>

{% endblock %}