{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
<div class="col-6">
            <h3 class="">Réinitialisation mot de passe</h3>
            <div class="">
                {{ form_start(form_reset) }}
                {{ form_row(form_reset.email, {'label' : 'Un mail vous sera adressé pour réinitialiser votre mot de passe.', 'attr' : {
                    'placeholder' : 'Votre adresse mail'
                }}) }}
                <button class="btn btn-primary" type="submit">Envoyer</button>
                {{ form_end(form_reset) }}

            </div>
</div>


{% endblock %}
