{% extends 'base.html.twig' %}
{# Page d'accueil de l'application web #}
{% block title %}Home{% endblock %}

{% block body %}


<div class="example-wrapper">
{# on verifie qu'un utilisateur est connecte pour afficher un message d'accueil contenant son pseudo #}
{% if app.user %}
  <h1>Hello {{ user.pseudo }}! </h1>
  {% else %}
  {# sinon on affiche stranger #}
      <h1>Hello Stranger! </h1>
{% endif %}


</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            {% for recette in last %}
        {# on affiche les dernieres recettes ajoutes au site #}
                {% if app.user and is_granted('ROLE_ADMIN') %}
                {# si c'est un admin , on utilise le composant admin #}
                    {% include "components/_adminRecetteSimple.html.twig" %}
                {% else %}
                {# sinon on utilise le composant recette user #}
                    {% include "components/_userRecetteSimple.html.twig" %}
                {% endif %}
			{% endfor %}
        </div>

    </div>

</div>
{% endblock %}
