{% extends 'base.html.twig' %}
{# Page d'accueil de l'application web #}
{% block title %}Home
{% endblock %}

{% block body %}
<div class="row">
	<div class="en-tete">
		<img src="{{asset('img/en-tete.png')}}" alt="en-tete">
	</div>
</div>
<div class="container-fluid conteneur w-50 my-5 justify-content-center">

	<div class="row  ">
		{# on affiche les recettes ajoutes par l'utilisateur connecte #}
		<h2 class="titres text-center w-75 m-auto coloredText pb-3">Vos Recettes</h2>
		{% for recette in last  %}
		{% if app.user and is_granted('ROLE_ADMIN') %}
		{% include "components/_AdminRecetteSimple.html.twig" %}
		{% else %}
		{% include "components/_userRecetteSimple.html.twig" %}
		{% endif %}


		{% endfor %}

	</div>


</div>


{% endblock %}