{% extends 'base.html.twig' %}
{# Page d'accueil de l'application web #}
{% block title %}BecomeChef - Page d'accueil{% endblock %}

{% block body %}

<div class="container-fluid">

	
	

	<div class="row  justify-content-center conteneurBox ">
		<h1 class="titres text-center w-100 m-auto coloredText fs-1">Dernières recettes ajoutées</h1>
		{% for recette in last  %}
		{% if app.user and is_granted('ROLE_ADMIN') %}
		{% include "components/_adminRecetteSimple.html.twig" %}
		{% else %}
		{% include "components/_userRecetteSimple.html.twig" %}
		{% endif %}


		{% endfor %}

	</div>


</div>


{% endblock %}