{% extends 'base.html.twig' %}
{# Page d'accueil de l'application web #}
{% block title %}Home
{% endblock %}

{% block body %}

<div class="container-fluid  ">
<div class="row en-tete " >
	<img src="{{ asset('img/en-tete2.png') }}" class=" align-center w-100 "alt="en-tete">
</div>
		<h2 class="titres text-center w-75 m-auto coloredText pb-3 fs-2">Dernieres recettes ajoutes</h2>

	<div class="row m-auto justify-content-center  ">
		{# on affiche les recettes ajoutes par l'utilisateur connecte #}
		{% for recette in last  %}
		{% if app.user and is_granted('ROLE_ADMIN') %}
		{% include "components/_AdminRecetteSimple.html.twig" %}
		{% else %}
		{% include "components/_userRecetteSimple.html.twig" %}
		{% endif %}


		{% endfor %}

	</div>


</div>


{% endblock %}