{% extends 'base.html.twig' %}
{# Page d'accueil de l'application web #}
{% block title %}Home
{% endblock %}

{% block body %}


	<div class="en-tete">
		<img src="{{asset('img/en-tete.png')}}" alt="en-tete">
	</div>
	<div class="container-fluid w-50 d-flex flex-column flex-md-row mt-5 flex-wrap ">

		{% for recette in last %}
			{# on affiche les dernieres recettes ajoutes au site #}
			{% if app.user and is_granted('ROLE_ADMIN') %}
				{# si c'est un admin , on utilise le composant admin #}
				{% include "components/_adminRecetteSimple.html.twig" %}
			{% else %}
				{# sinon on utilise le composant recette user #}
				{% include "components/_userRecetteSimple.html.twig" %}
			{% endif %}
		{% endfor %}

	</div>
{% endblock %}
