{% extends 'base.html.twig' %}
{# Vue pour l'affichage de la liste de recettes acces a partir de l'onglet catalogue pour un utilisateur lambda #}

{% block title %}Catalogue{% endblock %}

{% block body %}
<div class="container-fluid">
	<h1 class="titres coloredText text-center">Catalogue</h1>
	<div class="row m-auto justify-content-center">
		{# l'affichage  des recettes grace au composant recetteSimpleUtilisateur#}
		{% for recette in recettes %}
		{% include "components/_userRecetteSimple.html.twig" %}
		{% endfor %}
	</div>
	{# affichage de la navigation par page #}
	<div class="row w-25 m-auto">
		{% for nb in range(1,total // 3) %}
		<div class="col">
			<a href="{{path('recette',{'page': nb})}}" class=" ">{{nb}}</a>

		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}