{% extends 'base.html.twig' %}
{# Vue pour l'affichage de la liste de recettes acces a partir de l'onglet catalogue pour un utilisateur lambda #}

{% block title %}BecomeChef-Catalogue Recettes{% endblock %}

{% block body %}
<div class="container-fluid">
	<h1 class="titres coloredText text-center fs-1">Nos recettes de cuisine</h1>
	<div class="row m-auto justify-content-center">
		{# l'affichage  des recettes grace au composant recetteSimpleUtilisateur#}
		{% for recette in recettes %}
		{% include "components/_userRecetteSimple.html.twig" %}
		{% endfor %}
	</div>
	{# affichage de la navigation par page #}
	<div class="row navRow" >
	{# total//3 car on affiche 3 recette par page  #}
	{# faire un formulaire dynamique #}

		{% if total > 3 %}
		{% for nb in range(1,(total/3)|round(0,'ceil')) %}
		<div class="col text-center ">
			<a href="{{path('recette',{'page': nb})}}" class="anchorStyle fs-4 ">{{nb}}</a>

		</div>
		{% endfor %}
		{% else %}
			
		<div class="col-2 navCol ">
			<a href="{{path('recette',{'page': 1})}}" class="anchorStyle fs-4 ">1</a>

		</div>
	
		{% endif %}
		
	</div>
</div>
{% endblock %}