* {
    margin: 0;
    padding: 0;
    outline: none;

}

body {
    min-height: 100vh;
    background: -webkit-linear-gradient(bottom, #ff105f, #ffad06);
}

/* FAIT */
.containerDiv {
    width: 80%;
    height: auto;
    margin: 20px auto;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 50px 35px 10px 35px;

}

/* PAS BESOIN */
.containerDiv header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

/* pAS BESOIN */
.containerDiv .form-outer {
    width: 100%;
    overflow: hidden;
}

/* FAIT */
.form-outer form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 500%;
}

/* FAIT */
.form-outer form .page {
    width: 25%;
    margin: 0px;
    transition: margin-left 0.3s ease-in-out;

}



.form-outer form .slidepage {
    margin-left: 50px;
}

/* FAIT */
.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}





/* PAS BESOIN */
.form-outer form .page .field {
    height: 45px;
    width: 100%;
    margin: 45px 0;
    display: flex;
    position: relative;
}

/* FAIT */
.form-outer form .page .field .label {
    display: none;
}

/* PAS BESOIN */
.form-outer form .page .field input {
    height: 100%;
    width: 80%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 18px;
    margin: 0;


}

.form-outer form .page .btns {

    width: 80%;
    justify-content: space-between;
}


/* FAIT */


/* FAIT */
.form-outer form .page .field .submit {
    display: block;
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    border-radius: 5px;
    background: #ffad06;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-outer form .page .field button:hover {
    background: #ff105f;

}

/* PAS BESOIN */
.form-outer form .page .btns button {
    margin-top: -20px !important;
    margin-left: 10px;
    margin-right: 10px;

}

.form-outer form .page .field button {
    display: block;
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    border-radius: 5px;
    background: #ffad06;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;

}



.step-row {
    display: inline;
    width: 100%;
    /* plus 240px*/
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
    overflow: hidden;
}



.step-col {
    width: 20%;
    /* plus 80px*/
    text-align: center;
    color: #333;
    position: relative;

}

#progress {
    position: absolute;
    height: 100%;
    width: 15%;
    /* plus 80px*/
    background: linear-gradient(to right, #ff105f, #ffad06);
    transition: 1s;
}


/* petite fleche a la fin du progres */
#progress::after {
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #ffad06;
}

#prenom {
    margin-left: 30px;
    display: flex;
    align-self: center;
}

@media (min-width:1350px) {
    

    .containerDiv {
        width: 31%;
    }

 
}