{% extends 'base.html.twig' %}

{% block title %}
	BecomeChef-Catalogue Recettes Admin
{% endblock %}

{% block body %}

	<div class="container-fluid conteneurBox">
		<h1 class="titres coloredText text-center fs-1">Nos recettes de cuisine</h1>
		<div
			class="row m-auto justify-content-center">
			{% for recette in recettes %}
				{% include "components/_adminRecetteSimple.html.twig" %}
			{% endfor %}

		</div>
		<div class="row justify-content-center ">
			{{ knp_pagination_render(recettes,'components/_pagination.html.twig') }}
		</div>
	</div>
{% endblock %}
