{% extends 'base.html.twig' %}

{% block title %}
	{{recette.titre}}
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row">
			{% include "components/_ingredientList.html.twig" %}
			<div class="col-6">
				{% include "components/_AdminRecetteDetaille.html.twig" %}
			</div>

		</div>
		<div class="row justify-content-center"></div>

		<hr>
		{% include "components/_commentaires.html.twig" %}

	</div>
{% endblock %}
