{% extends 'base.html.twig' %}

{% block title %}
BecomeChef -
{{recette.titre}}
{% endblock %}

{% block body %}
{# Template d'affichage d'une recette pour un Admin #}
{# on verifie qu'il est bien admin #}
{% if "ROLE_ADMIN" in  app.user.roles %}

<div class="container-fluid">
	<div class="row">
		<h1 class="titres coloredText text-center fs-1">{{recette.titre}}</h1>
	</div>
	<div class="row  w-75 m-auto my-5">
		<div class="col-md-3 ">
			{% include "components/_ingredientList.html.twig" %}
		</div>
		<div class="col-md-9">
			{% include "components/_adminRecetteDetaille.html.twig" %}
		</div>

	</div>
	<div class="row w-75 fs-5  m-auto">
		<div class="col-12 shadow rounded w-75 m-auto my-2 ">
			<h3 class="titreRecette coloredText text-center bold">Preparation</h3>
		</div>
		<p class="preparations">{{recette.preparation}}</p>
	</div>

	<hr>
	{# on affiche aussi les commentaires de la recette en question #}
	{% include "components/_commentaires.html.twig" %}

</div>
{% endif %}
{% endblock %}