{% extends 'base.html.twig' %}

{% block title %}
BecomeChef -
{{recette.titre}}
{% endblock %}

{% block body %}
{# Template d'affichage d'une recette pour un Admin #}
{% if "ROLE_ADMIN" in  app.user.roles %}

<div class="container-fluid">
	<div class="row conteneurBox">
		<h1 class="titres coloredText text-center fs-1">{{recette.titre}}</h1>
	</div>
	<div class="row conteneurBox">
			{% include "components/_adminRecetteDetaille.html.twig" %}
		</div>
	<div class="row mx-auto conteneurBox">
	<div class="col-md-9 mx-auto ">
			{% include "components/_ingredientList.html.twig" %}
		</div>
	
	</div>
	<div class="row  fs-5  mx-auto conteneurBox">
		<div class="col-12 w-75 m-auto my-5 ">
			<h3 class="titreRecette coloredText text-center bold">Preparation</h3>
		</div>
		<p class="preparations">{{recette.preparation}}</p>
	</div>



	<div class="row conteneurBox">
		{% include "components/_commentaires.html.twig" %}
	</div>

</div>
{% endif %}
{% endblock %}