<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BecomeChef - Account Services Email</title>
		<style>
			body {
				display: flex;
			}
			.container {
				width: 80%;
				margin: auto;
				text-align: center;
			}
			.conteneurBox {
				align-self: center;
				background-color: #98cef2;
				width: 60%;
				border-radius: 15px;
				margin: 20px auto 10px;
				padding: 15px 15px 30px;
			}

			.coloredText {
				color: black;
				text-align: center;
			}

			.FormSub {
				display: block;
				border: 2px solid #608299;
				background-color: #2d3741;
				border-radius: 5px;
				text-decoration: none;
				padding: 5px;
				margin: auto;
				color: white;

			}

			.FormSub:hover {
				background-color: #98cef2;
				border: none;
				transition: 0.3s ease;
			}
			img {
				width: 25%;
				text-align: center;
			}
		</style>
	</head>

	<body>
		<div class="container conteneurBox">
			<div class="container">
				<img src="{{ absolute_url( asset('/uploads/DefaultPhotoDark.png')) }}" alt="logo">
			</div>
			<h1 class=" coloredText">{{email.subject}}</h1>
			<p>
				{{message}}
			</p>


		</div>

	</body>

</html>
