<!-- COMPOSANT BANIERE COOKIE -->
<div class="banniere">
    <div class="text-banniere">
        <p>Notre site utilise des cookies pour une meilleure experience</p>
    </div>
    <div >
        <a href="{{path('accepte_cookie')}}" class="FormSub btn w-100 text-dark fs-5 mb-2 "> Ok , j'accepte</a>
    </div>
</div>