<div class="container d-flex h-25 mt-5 align-items-strech">
    <div class="row mt-2  w-100 ">
        <form action="{{path('search',{'page': 1})}}" method="POST" class="d-flex flex-column">
            <select name="nbaAfficher" id="nbaAfficher" class="selector">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
            </select>
            <button type="submit" class="FormSub btn w-100 text-dark fs-5 my-2">Sélectionner</button>
        </form>
    </div>
</div>