<footer>
   <div class="container-fluid p-2 bg-dark text-light">
      <div class="row d-flex justify-content-around ">
         <div class="col">
            <a href="{{path('pdc')}}" class="anchorStyle text-light">Politique de confidentialité</a><br>
            <a href="{{path('cgu')}}" class="anchorStyle text-light  ">Conditions generales d'utilisation</a>
         </div>
         <div class="col"> <i class="fab fa-facebook fa-2x"></i></div>
         <div class="col"> <i class="fab fa-instagram fa-2x"></i></div>
         <div class="col">
            <p class="fs-4">&copy; BecomeChef</p>
         </div>
      

         <div class="col"><i class="fab fa-linkedin fa-2x"></i></div>
         <div class="col"> <i class="fab fa-github fa-2x"></i></div>





      </div>
   </div>

</footer>