{% extends 'base.html.twig' %}

{% block title %}Hello FavorisController!
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row">
			{% for recettes in favoris %}
				{% for recette in recettes %}
					{% include "components/_AdminRecetteSimple.html.twig" %}
				{% endfor %}
			{% endfor %}
		</div>
	</div>


{% endblock %}
